{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card shadow my-4">
                <div class="card-body">
                    <form method="post">
                        <h1>Login</h1>
                        <hr>
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-success mt-3">Login</button>
                        <a href="{% url 'signup' %}">Don't have an account? signup here</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    input{
        width: 100%;
    }

    form>div{
        margin-bottom: 15px;
    }
</style>

{% endblock content %}